@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome, this is my first pet-project on ASP.NET Core framework. If there is no user I create first user automatically and this user will have admin role.So,default user can add note with title, content and attach binary file(such as .pdf or .doc/.docx). Admin can see all users so every user can see only his notes. </h3>
</div>